<a href="https://colab.research.google.com/github/rohitsejwal21/Amazon-Fine-Food-Reviews/blob/main/reviews.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

reviews = pd.read_csv('/content/Reviews.csv', error_bad_lines=False, engine='python')

In [8]:
reviews.head()

  Id  ...                                               Text
0  1  ...  I have bought several of the Vitality canned d...
1  2  ...  Product arrived labeled as Jumbo Salted Peanut...
2  3  ...  This is a confection that has been around a fe...
3  4  ...  If you are looking for the secret ingredient i...
4  5  ...  Great taffy at a great price.  There was a wid...

[5 rows x 10 columns]

In [9]:
reviews.shape

(493663, 10)